@page
@model IndexModel
@{
    ViewData["Title"] = "Overview";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Welcome to the overview</p>

    <!-- it ged -->
    <a class="text-dark btn btn-primary" asp-page="/Privacy">Privacy</a>
    <!---->
    <!-- w-100, w-75, w-50, w-25 

    <!--ät foreach(var item in regal Regal)-->
    <!--{-->
    <div class="dropdown w-100">
      <a class="btn btn-secondary dropdown-toggle w-75" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown link
      </a>

      <ul class="dropdown-menu w-75" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">
                <div class="progress">
                    <p>action:  </p>
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemax="100"></div>
                    <div class = "align-content-end"><p>"var" %Belegt    Stück: "var"</p> </div>
                </div>
        </a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <!--}-->
</div>