
@{
    ViewData["Title"] = "Overview";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>


    <div class="d-flex justify-content-center pt-3 pb-2">
        <a id="open-add-window" class="btn btn-light">Regal erstellen</a>
        @*<button onClick="location.reload();">Refresh Page</button>*@
    </div>
    <div class="d-flex justify-content-center">
        <div class="input-group mb-3 w-25">
          <input type="text" class="form-control" id="myInput" placeholder="Regalname" aria-label="Regalname" aria-describedby="button-addon2">
        </div>
    </div>

    <div class="d-flex justify-content-center w-100">
        <div class="row w-100" id="regale"> </div>
    </div>
    @section Scripts{
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        const { ipcRenderer } = require("electron");
        document.addEventListener('DOMContentLoaded', pageLoaded);

        function pageLoaded(){
            ipcRenderer.send('loadFinished');
        }
        var x = false;
        document.getElementById("myInput").oninput = function() {changeInput()};
        
        ipcRenderer.on('getRegal-reply', (event, arg1, arg2, arg3) => {
            let regal = JSON.parse(arg1);
            let ware = JSON.parse(arg2);
            let fach = JSON.parse(arg3);
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawVisualization);

            function drawVisualization() {
                if(regal.length > 0 && ware.length > 0 && fach.length > 0 && x == false){
                    x = true;
                    for (var i = 0; i < regal.length; i++){
                   var fächer = [['Name', 'Max-Bestand', 'Min-Bestand', 'Bestand']];
                   for (var j = 0; j < ware.length; j++) {
                       for(var k = 0; k < fach.length; k++) {
                           for(var l = 0; l < ware[j]["shelf_ids"].length; l++){
                                   if(ware[j]["shelf_ids"][l] == fach[k]["id"] && regal[i]["id"] == fach[k]["regal_id"]){
                                       var data = [ware[j]["name"], ware[j]["maxAmount"], ware[j]["minAmount"], ware[j]["stock"]];
                                       fächer.push(data);
                               }
                           }
                           
                       }
                   }
                   var dataResult = google.visualization.arrayToDataTable(fächer);

            

                   var options = {
                       selectionMode: 'multiple',
                       tooltip: {trigger: 'selection'},
                     title : regal[i]["name"],
                     vAxis: {title: regal[i]["id"]},
                     //hAxis: {title: 'Bestand'},
                     seriesType: 'bars',
                     series: {
                       0:{color: 'green', visibleInLegend: true, type: 'line'},
                       1:{color: 'red', visibleInLegend: true, type: 'line'},
                       2:{color: 'orange', visibleInLegend: true}
                     }
                   };
                  
                   document.getElementById('regale').innerHTML += '<div class=" mt-2 mr-2 mb-2 ml-2" style="width: 48%"> <div class="card w-100" id="regale"> <div class="w-100" id="regale' + i + '" style="height: 400px;"> </div> </div> </div> ';
                   var chart = new google.visualization.ComboChart(document.getElementById('regale'+i));
                   chart.draw(dataResult, options);
               }
                }
               
            }
        });
        
       //ipcRenderer.on('getRegal-reply', (event, arg1) => {
       //     let regalFachWare = JSON.parse(arg1);
       //     google.charts.load('current', {'packages':['corechart']});
       //     google.charts.setOnLoadCallback(drawVisualization);

       //     function drawVisualization() {
       //            for (var i = 0; i < regalFachWare.length; i++){
       //            var fächer = [['Name', 'Max-Bestand', 'Min-Bestand', 'Bestand']];
                   
       //            var dataResult = google.visualization.arrayToDataTable(fächer);
       //            var data = [regalFachWare["name"], regalFachWare["maxbestand"], regalFachWare["minbestand"], regalFachWare["bestand"]];

       //            var options = {
       //                selectionMode: 'multiple',
       //                tooltip: {trigger: 'selection'},
       //              title : regal[i]["name"],
       //              vAxis: {title: regal[i]["id"]},
       //              //hAxis: {title: 'Bestand'},
       //              seriesType: 'bars',
       //              series: {
       //                0:{color: 'green', visibleInLegend: true, type: 'line'},
       //                1:{color: 'red', visibleInLegend: true, type: 'line'},
       //                2:{color: 'orange', visibleInLegend: true}
       //              }
       //            };
                  
       //            document.getElementById('regale').innerHTML += '<div class=" mt-2 mr-2 mb-2 ml-2" style="width: 48%"> <div class="card w-100" id="regale"> <div class="w-100" id="regale' + i + '" style="height: 400px;"> </div> </div> </div> ';
       //            var chart = new google.visualization.ComboChart(document.getElementById('regale'+i));
       //            chart.draw(dataResult, options);
       //         }
               
       //     }
       // });

        function changeInput() {
            document.getElementById('regale').innerHTML = '';
            var input = document.getElementById("myInput");
            ipcRenderer.send('searchRegal', input.value);
        }

        ipcRenderer.on('getSearchedRegal-reply', (event, arg1, arg2, arg3) => {
            //location.reload();
            let regal = JSON.parse(arg1);
            let ware = JSON.parse(arg2);
            let fach = JSON.parse(arg3);

            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawVisualization);

            function drawVisualization() {
               if(regal.length > 0 && ware.length > 0 && fach.length > 0){
                    
                    for (var i = 0; i < regal.length; i++){
                   var fächer = [['Name', 'Max-Bestand', 'Min-Bestand', 'Bestand']];
                   for (var j = 0; j < ware.length; j++) {
                       for(var k = 0; k < fach.length; k++) {
                           for(var l = 0; l < ware[j]["shelf_ids"].length; l++){
                                   if(ware[j]["shelf_ids"][l] == fach[k]["id"] && regal[i]["id"] == fach[k]["regal_id"]){
                                       var data = [ware[j]["name"], ware[j]["maxAmount"], ware[j]["minAmount"], ware[j]["stock"]];
                                       fächer.push(data);
                               }
                           }
                           
                       }
                   }
                   var dataResult = google.visualization.arrayToDataTable(fächer);

            

                   var options = {
                       enableInteractivity: false,
                     title : regal[i]["name"],
                     vAxis: {title: regal[i]["id"]},
                     //hAxis: {title: 'Bestand'},
                     seriesType: 'bars',
                     series: {
                       0:{color: 'green', visibleInLegend: true, type: 'line'},
                       1:{color: 'red', visibleInLegend: true, type: 'line'},
                       2:{color: 'orange', visibleInLegend: true}
                     }
                   };
                  
                   document.getElementById('regale').innerHTML += '<div class=" mt-2 mr-2 mb-2 ml-2" style="width: 48%"> <div class="card w-100" id="regale"> <div class="w-100" id="regale' + i + '" style="height: 400px;"> </div> </div> </div> ';
                   var chart = new google.visualization.ComboChart(document.getElementById('regale'+i));
                   chart.draw(dataResult, options);
               }
                }
            }
        });

        document.getElementById("open-add-window").addEventListener("click", () => {
            ipcRenderer.send("open-add-window");
        });

    </script>
    }
</div>