@{
    ViewData["Title"] = "Lieferanten";
    Layout = "~/Views/Shared/_LieferantenLayout.cshtml";

    var test = new List<string>();
}

<div>
    <p class="text-center">Erstellen eines neuen Regales</p>

    <div class="text-center w-100">
        <p>Code</p>
    </div>

    <script>
        const { ipcRenderer } = require("electron");
                
        var regalName = document.getElementById("regalNameInput").value; 
        //var input = document.getElementById("myInput");
        var regalMaxFaecher = document.getElementById("regalMaxFaecherInput").value; 
        //var result = [regalName, regalMaxFaecher];

        document.getElementById("add-regal").addEventListener("click", () => {
            ipcRenderer.send("add-regal", regalName);
        });
    </script>
</div>


