@*@CodeCopy*@
@*#if ACCOUNT_ON*@@*
@{
    @using Microsoft.AspNetCore.Mvc.Rendering
    @using Frontend.AspMvc.Modules.Session

    var sessionWrapper = new SessionWrapper(Context.Session);
    var controller = ViewContext.RouteData?.Values["controller"]?.ToString() ?? string.Empty;
    var action = ViewContext.RouteData?.Values["action"]?.ToString() ?? string.Empty;
    var title = (action);
    string subTitle = ("Confirmation Password Form");
    string text = ("Your password has been changed successfully!");

    <h1>@title</h1>

    <div class="d-flex bg-transparent">
        <div class="p-sm-2 mr-auto">
            <h4>@subTitle</h4>
        </div>
    </div>
    <hr />

    @if (string.IsNullOrEmpty(ViewBag.Error) == false)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
    }

    <div class="alert alert-success" role="alert">
        @text
    </div>
}
*@@*#endif*@
