@using System.Diagnostics

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Multiflex.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Multiflex.WebApp.styles.css" asp-append-version="true" />
    <script src="../contrast-bootstrap-pro/js/cdb.js"></script>
    <script src="../contrast-bootstrap-pro/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/9d1d9a82d2.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="../Home/Index">Übersicht</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="../Home//Privacy">Bestand</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="../Home/Privacy">Komisionierung</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="../Home/Privacy">Bestellung/Versand</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Lieferanten" asp-action="Index" class="nav-link text-dark" >Lieferanten</a>
                            </li>
                        </ul>
                        <li class="navbar-nav nav-item">
                            <a class="nav-link text-dark" href="../Home/Privacy">Log out</a>
                        </li>
                </div>
            </div>
        </nav>
    </header>
    <div class="w-100">
        <main role="main" class="pb-3 w-100">
            @{
                Stopwatch stopWatch = new Stopwatch();
                stopWatch.Start();

                @RenderBody()

                stopWatch.Stop();
                Console.WriteLine($"Render: {stopWatch.Elapsed}");
            }
        </main>
    </div>
       @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
