<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Multiflex.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Multiflex.WebApp.styles.css" asp-append-version="true" />
    <script src="../contrast-bootstrap-pro/js/cdb.js"></script>
            <script src="../contrast-bootstrap-pro/js/bootstrap.min.js"></script>
            <script src="https://kit.fontawesome.com/9d1d9a82d2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="w-100">
        <main role="main" class="pb-3 w-100">
            @RenderBody()
        </main>
    </div>

   @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
