@page
@model IndexModel
@{
    ViewData["Title"] = "Overview";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Welcome to the overview</p>

    <a class="text-dark btn btn-primary" asp-page="/Privacy">Privacy</a>
    <a class="text-dark btn btn-primary" asp-page="/Add">Add</a>
    <!--ät foreach(var item in regal Regal)-->

</div>
