@page
@model IndexModel
@{
    ViewData["Title"] = "Overview";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>


    <div class="d-flex justify-content-center pt-3 pb-2">
        <a class="btn btn-dark" asp-page="/Add">Reagal hinzufüge</a>
    </div>

    <div class="d-flex pt-4">
        <div class="card w-50 mx-4">
            <canvas id="chart"></canvas>
        </div>
        <div class="card w-50 mx-4">
            <canvas id="chart1"></canvas>
        </div>
    </div>

    <!--ät foreach(var item in regal Regal)-->


</div>