@model IEnumerable<Frontend.Logic.Entities.Orders.Order>
@{
    
    if (Model.Count() == 0)
    {
        if (ViewData["pdfStatus"] == "canceled")
        {
            <p class="text-center">Heute keine Stornierung vorhanden</p>
        }
        if (ViewData["pdfStatus"] == "open")
        {
            <p class="text-center">Keine offene Bestellung vorhanden</p>
        }
        if (ViewData["pdfStatus"] == "ready")
        {
            <p class="text-center">Derzeit kein Packet versandbereit</p>
        }
    }
    else
    {
        <a asp-action="CreatePdf" type="button" class="btn btn-dark mx-2 my-3">PDF erstellen</a>

        foreach (var item in Model)
        {
            foreach (var item2 in item.OrderItems)
            {
                <li class="list-group-item d-flex justify-content-between pt-4">
                    <p>Produkt: @item2.Product.SKU</p>
                    <p>Land: @item.ShippingAddress.Country</p>
                </li>
            }
        }
    }
}