@*@CodeCopy*@
@{
    @using Frontend.AspMvc.Modules.Session

    var sessionWrapper = new SessionWrapper(Context.Session);

    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@("Home")</a>
        </li>
@*#if ACCOUNT_ON*@@*
        @if (sessionWrapper.LoginSession != null)
        {
        }
*@@*#endif*@
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">@("Contact")</a>
        </li>
    </ul>
}
