@model IEnumerable<Frontend.Logic.Entities.Orders.RootOrderItem>
@{
    if (Model.Count() == 0)
    {
        <p class="text-center">Fehler im Lager</p>
    }
    else
    {
        foreach (var item in Model)
        {
            <div class="accordion accordion-flush border" id="accordionFlushExample">
                <div class="accordion-item">

                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne">
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Bezeichnung</th>
                                    <th scope="col">Anzahl</th>
                                    <th scope="col">Min. Anzahl</th>
                                    <th scope="col">Farbe</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr>
                                    <th scope="row">LÖ</th>
                                    <td>8</td>
                                    <td>1</td>
                                    <td>Dunkel</td>
                                </tr>

                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
        }
    }
}