@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="display-4">MultiFlex</h1>
    <h2>powered by</h2>
    <ul>
        <li>Schwarz Markus</li>
        <li>Schned Fabian</li>
        <li>Zeilinger David</li>
    </ul>
    <br>
    <br>
    <h1>Kurzbeschreibung</h1>
    <p>Die Firma Zeilinger Gyöngyi hat uns gebeten ihnen bei einen Programmierproblem zu helfen. Es handelt sich hiebei um eine Sofware, die dieser Firma 
        helfen soll, eine bessere Übersicht über ihren Lagerbestand zu erhalten. Diese Software soll weiters auch angezeigen von welchen Artikeln mehr 
        gekauft/produziert werden muss (Rot), von welchen Artikeln bald mehr gekauft/produziert werden muss (Orange) und die Artikel von denen ausreichen 
        vorhanden sind (Grün). Erwünscht wird ein One-Pager, der die obengenannten Daten anzeigeigt. Die dazu benötigten Daten sind aus der bereits benutzten 
        Software Billbee zu nehmen.</p>
</div>
