<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Multiflex.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Multiflex.WebApp.styles.css" asp-append-version="true" />
    <script src="../contrast-bootstrap-pro/js/cdb.js"></script>
            <script src="../contrast-bootstrap-pro/js/bootstrap.min.js"></script>
            <script src="https://kit.fontawesome.com/9d1d9a82d2.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Multiflex.WebApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Übersicht</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Bestand</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Komisionierung</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Bestellung/Versand</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Lieferanten</a>
                            </li>
                        </ul>
                        <li class="navbar-nav nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Log out</a>
                        </li>
                </div>
            </div>
        </nav>
    </header>
    <div class="w-100">
        <main role="main" class="pb-3 w-100">
            @RenderBody()
        </main>
    </div>

    <!--
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Multiflex.WebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script>
            const ctx = document.getElementById("chart").getContext('2d');
            const myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: ["BaLebens", "BuLebens", "GesTas", "HzHo",
                "KlHe", "LoBl", "SoMoSte", "GebHzBox"],
                datasets: [{
                  label: 'Waren-Inventar',
                  backgroundColor: 'rgba(161, 198, 247, 1)',
                  borderColor: 'rgb(47, 128, 237)',
                  data: [3, 5, 4, 6, 1, 12, 7, 2],
                }]
              },
              options: {
                scales: {
                  yAxes: [{
                    ticks: {
                      beginAtZero: true,
                    }
                  }]
                }
              },
            });

            const ctx2 = document.getElementById("chart1").getContext('2d');
            const myChart2 = new Chart(ctx2, {
              type: 'bar',
              data: {
                labels: ["49", "BA4951", "BA4925", "39",
                "Pap"],
                datasets: [{
                  label: 'Lager-Bestand',
                  backgroundColor: 'rgba(161, 198, 247, 1)',
                  borderColor: 'rgb(47, 128, 237)',
                  data: [10, 15, 4, 17, 300],
                }]
              },
              options: {
                scales: {
                  yAxes: [{
                    ticks: {
                      beginAtZero: true,
                    }
                  }]
                }
              },
            });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>