@*@CodeCopy*@
@{
    //var controller = ViewContext?.RouteData?.Values["controller"]?.ToString();
    //var action = ViewContext?.RouteData?.Values["action"]?.ToString();
    var title = "Home";

    ViewData["Title"] = title;

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Accordion Item #1
                </button>
            </h2>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Anzahl</th>
                        <th scope="col">Min. Anzahl</th>
                        <th scope="col">Farbe</th>
                        <th scope="col">Produkt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">LÖXXXX</th>
                        <td>23</td>
                        <td>5</td>
                        <td>Dunkel</td>
                        <td>ka</td>
                    </tr>
                    <tr>
                        <th scope="row">LÖXXXX</th>
                        <td>23</td>
                        <td>5</td>
                        <td>Dunkel</td>
                        <td>ka</td>
                    </tr>
                    <tr>
                        <th scope="row">LÖXXXX</th>
                        <td>23</td>
                        <td>5</td>
                        <td>Dunkel</td>
                        <td>ka</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
