@model IEnumerable<Frontend.Logic.Entities.Orders.RootOrderItem>
@{
    //var controller = ViewContext?.RouteData?.Values["controller"]?.ToString();
    //var action = ViewContext?.RouteData?.Values["action"]?.ToString();
    var title = "Home";
    ViewData["Title"] = title;


    <!--<div class="container pb-5">
    <div class="row text-center">
    <div class="col">
    <button type="button" class="btn btn-dark">PDF erstellen</button>
    </div>
    <div class="col">
    <button type="button" class="btn btn-dark">Kritische PDF erstellen</button>
    </div>
    <div class="col">
    <button type="button" class="btn btn-dark">Nachkaufen</button>
    </div>
    </div>
    </div>-->
    if (ViewData["pdfStatus"] == "succses")
    {
        <div class="alert alert-success" role="alert">
            PDF wurde erfolgreich erstellt
        </div>
    }

    else if (ViewData["pdfStatus"] == "error")
    {
        <div class="alert alert-danger" role="alert">
            Fehler beim erstellen der PDF
        </div>
    }

    <div class="w-100 d-flex">
        <div class="w-75 mx-4">
            <div class="d-flex">
                <h2>Bestand - </h2>
                <!--<a asp-action="CreatePdf" type="button" class="btn btn-dark mx-2 my-3">PDF erstellen</a>-->
            </div>

            <div class="accordion accordion-flush border" id="accordionFlushExample">
                @await Html.PartialAsync("_Products")
            </div>
        </div>

        <div class="w-25">
            <h2 class="text-center">Offene Bestellungen</h2>
            <div class="d-flex justify-content-between">
                <a type="button" class="btn btn-dark" asp-action="OpenOrders">Offen</a>
                <a type="button" class="btn btn-dark" asp-action="CanceledOrders">Storniert</a>
                <a type="button" class="btn btn-dark" asp-action="ReadyOrders">Erledigt</a>
            </div>
            <hr>
            <ul class="list-group">
                @{
                    if (ViewData["orderStatus"] == "open")
                    {

                        @await Html.PartialAsync("_OpenOrders")
                    }

                    else if (ViewData["orderStatus"] == "canceled")
                    {

                        @await Html.PartialAsync("_CancledOrders")
                    }

                    else if (ViewData["orderStatus"] == "ready")
                    {
                        @await Html.PartialAsync("_ReadyOrders")
                    }

                    else if (ViewData["orderStatus"] == string.Empty)
                    {
                        <p>Ein Fehler ist aufgetreten</p>
                    }
                }
            </ul>
        </div>
    </div>
}
