@*@CodeCopy*@
@model Frontend.AspMvc.Models.Model
@{
    //var controller = ViewContext?.RouteData?.Values["controller"]?.ToString();
    //var action = ViewContext?.RouteData?.Values["action"]?.ToString();
    var title = "Home";
    ViewData["Title"] = title;

    var pdfStatus = ViewData["pdfStatus"];
   

    if (pdfStatus == "succses")
    {
        <div class="alert alert-success" role="alert">
            PDF wurde erfolgreich erstellt
        </div>
    }
    else if (pdfStatus == "error")
    {
        <div class="alert alert-danger" role="alert">
            Fehler beim erstellen der PDF
        </div>
    }

    <div class="w-100 d-flex">
        <div class="w-75 mx-4">

            <div class="d-flex justify-content-center pb-4">
                <a type="button" class="btn btn-dark mx-3 " asp-action="GetProducts">Produktbestand</a>
                <a type="button" class="btn btn-dark" asp-action="GetMaterials">Materialbestand</a>
            </div>
            <div class="d-flex justify-content-center pb-4">
                
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#categoryValue">Kategorie Hinzufügen</button>
            </div>

            <div class="accordion accordion-flush border" id="accordionFlushExample">

                @if(Model.Categories != null){
                    
                    @await Html.PartialAsync("_SetCategories", Model.Categories)
                }
                else
                {
                    <p>No Data</p>
                }

            </div>
        </div>

        <div class="w-25">
            <h2 class="text-center">Offene Bestellungen</h2>
            <div class="d-flex justify-content-between">

                <a type="button" class="btn btn-dark" asp-action="OpenOrders">Offen</a>
                <a type="button" class="btn btn-dark" asp-action="CanceledOrders">Storniert</a>
                <a type="button" class="btn btn-dark" asp-action="ReadyOrders">Erledigt</a>
            </div>
            <hr>
            <ul class="list-group">
                @{
                    if (ViewData["orderStatus"] == "open")
                    {
                        ViewData["pdfStatus"] = "open";
                    }

                    if (ViewData["orderStatus"] == "canceled")
                    {
                        ViewData["pdfStatus"] = "canceled";
                    }

                    if (ViewData["orderStatus"] == "ready")
                    {
                        ViewData["pdfStatus"] = "ready";
                    }

                    if (ViewData["orderStatus"] == string.Empty)
                    {
                        <div class="alert alert-danger " role="alert">Ein Fehler ist aufgetreten</div>
                    }
                    @await Html.PartialAsync("_CancledOrders", Model.Orders)
                }
            </ul>
        </div>
    </div>
}
@await Html.PartialAsync("_ChangeValue", Model)
@await Html.PartialAsync("_ChanceValueCategory", Model)