@*@CodeCopy*@
@{
    //var controller = ViewContext?.RouteData?.Values["controller"]?.ToString();
    //var action = ViewContext?.RouteData?.Values["action"]?.ToString();
    var title = "Home Page";
    var text = "Welcome to the HTL-Leonding";

    ViewData["Title"] = title;

    <div class="card" style="margin-bottom: 1em; border: none;">
        <img class="card-img-top" src="/img/informatik_ai.jpg" alt="Item image">
        <div class="card-body" style="text-align: center;">
            <h1 class="card-title">@text</h1>
            <p class="card-text"></p>
            <p class="card-text">Learn about <a href="https://www.htl-leonding.at/">computer science</a>.</p>
            <p class="card-text">Where?</p>
            <p class="card-text"><strong>with us.</strong></p>
        </div>
    </div>
}
