@*@CodeCopy*@
@model Frontend.AspMvc.Models.Model
@{
    //var controller = ViewContext?.RouteData?.Values["controller"]?.ToString();
    //var action = ViewContext?.RouteData?.Values["action"]?.ToString();
    var title = "Home";
    ViewData["Title"] = title;

    var pdfStatus = ViewData["pdfStatus"];

    if (pdfStatus == "succses")
    {
        <div class="alert alert-success" role="alert">
            PDF wurde erfolgreich erstellt
        </div>
    }

    else if (pdfStatus == "error")
    {
        <div class="alert alert-danger" role="alert">
            Fehler beim erstellen der PDF
        </div>
    }

    <div class="w-100 d-flex">
        <div class="w-75 mx-4">
            <div class="d-flex">
                <h2>Bestand</h2>
            </div>
            <div class="accordion accordion-flush border" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Löwe - 8Stk
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Bezeichnung</th>
                                    <th scope="col">Anzahl</th>
                                    <th scope="col">Min. Anzahl</th>
                                    <th scope="col">Farbe</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">LÖ</th>
                                    <td>8</td>
                                    <td>1</td>
                                    <td>Dunkel</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">

                        <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <div class="d-flex justify-content-between w-100">
                                <p>
                                    Lebensbaum - 240Stk
                                </p>
                            </div>
                        </button>

                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Bezeichnung</th>
                                    <th scope="col">Anzahl</th>
                                    <th scope="col">Min. Anzahl</th>
                                    <th scope="col">Farbe</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">BA 39 34</th>
                                    <td>15</td>
                                    <td>5</td>
                                    <td>34</td>
                                </tr>
                                <tr>
                                    <th scope="row">BA 39 62</th>
                                    <td>20</td>
                                    <td>5</td>
                                    <td>62</td>
                                </tr>
                                <tr>
                                    <th scope="row">BA 39 67</th>
                                    <td>12</td>
                                    <td>5</td>
                                    <td>67</td>
                                </tr>
                                <tr>
                                    <th scope="row">BA 39 22</th>
                                    <td>7</td>
                                    <td>5</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <th scope="row">BA 39 14</th>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>14</td>
                                </tr>
                                <tr>
                                    <th scope="row">BA 39 51</th>
                                    <td>23</td>
                                    <td>5</td>
                                    <td>51</td>
                                </tr>
                                <tr>
                                    <th scope="row">BA 39 29</th>
                                    <td>25</td>
                                    <td>5</td>
                                    <td>29</td>
                                </tr>
                                <tr>
                                    <th scope="row">BA 39 BA</th>
                                    <td>22</td>
                                    <td>5</td>
                                    <td>Bambus</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th scope="row">BA 49 34</th>
                                    <td>15</td>
                                    <td>5</td>
                                    <td>34</td>
                                </tr>
                                <tr>
                                    <th scope="row">BA 49 62</th>
                                    <td>20</td>
                                    <td>5</td>
                                    <td>62</td>
                                </tr>
                                <tr>
                                    <th scope="row">BA 49 67</th>
                                    <td>18</td>
                                    <td>5</td>
                                    <td>67</td>
                                </tr>
                                <tr>
                                    <th scope="row">BA 49 22</th>
                                    <td>7</td>
                                    <td>5</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <th scope="row">BA 49 14</th>
                                    <td>12</td>
                                    <td>5</td>
                                    <td>14</td>
                                </tr>
                                <tr>
                                    <th scope="row">BA 49 51</th>
                                    <td>16</td>
                                    <td>5</td>
                                    <td>51</td>
                                </tr>
                                <tr>
                                    <th scope="row">BA 49 29</th>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>29</td>
                                </tr>
                                <tr>
                                    <th scope="row">BA 49 BA</th>
                                    <td>8</td>
                                    <td>5</td>
                                    <td>Bambus</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo2">

                        <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo2" aria-expanded="false" aria-controls="flush-collapseTwo2">
                            <div class="d-flex justify-content-between w-100">
                                <p>
                                    Lebensbaum Eckig - 169Stk
                                </p>
                            </div>
                        </button>

                    </h2>
                    <div id="flush-collapseTwo2" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo2" data-bs-parent="#accordionFlushExample">
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Bezeichnung</th>
                                    <th scope="col">Anzahl</th>
                                    <th scope="col">Min. Anzahl</th>
                                    <th scope="col">Farbe</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">BAE 39 34</th>
                                    <td>17</td>
                                    <td>5</td>
                                    <td>34</td>
                                </tr>
                                <tr>
                                    <th scope="row">BAE 39 62</th>
                                    <td>6</td>
                                    <td>5</td>
                                    <td>62</td>
                                </tr>
                                <tr>
                                    <th scope="row">BAE 39 67</th>
                                    <td>9</td>
                                    <td>5</td>
                                    <td>67</td>
                                </tr>
                                <tr>
                                    <th scope="row">BAE 39 22</th>
                                    <td>7</td>
                                    <td>5</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <th scope="row">BAE 39 14</th>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>14</td>
                                </tr>
                                <tr>
                                    <th scope="row">BAE 39 51</th>
                                    <td>14</td>
                                    <td>5</td>
                                    <td>51</td>
                                </tr>
                                <tr>
                                    <th scope="row">BAE 39 29</th>
                                    <td>16</td>
                                    <td>5</td>
                                    <td>29</td>
                                </tr>
                                <tr>
                                    <th scope="row">BAE 39 BA</th>
                                    <td>11</td>
                                    <td>5</td>
                                    <td>Bambus</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th scope="row">BAE 49 34</th>
                                    <td>13</td>
                                    <td>5</td>
                                    <td>34</td>
                                </tr>
                                <tr>
                                    <th scope="row">BAE 49 62</th>
                                    <td>12</td>
                                    <td>5</td>
                                    <td>62</td>
                                </tr>
                                <tr>
                                    <th scope="row">BAE 49 67</th>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>67</td>
                                </tr>
                                <tr>
                                    <th scope="row">BAE 49 22</th>
                                    <td>7</td>
                                    <td>5</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <th scope="row">BAE 49 14</th>
                                    <td>12</td>
                                    <td>5</td>
                                    <td>14</td>
                                </tr>
                                <tr>
                                    <th scope="row">BAE 49 51</th>
                                    <td>7</td>
                                    <td>5</td>
                                    <td>51</td>
                                </tr>
                                <tr>
                                    <th scope="row">BAE 49 29</th>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>29</td>
                                </tr>
                                <tr>
                                    <th scope="row">BAE 49 BA</th>
                                    <td>8</td>
                                    <td>5</td>
                                    <td>Bambus</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            <p>
                                Lotusblume - 171Stk
                            </p>
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Bezeichnung</th>
                                    <th scope="col">Anzahl</th>
                                    <th scope="col">Min. Anzahl</th>
                                    <th scope="col">Farbe</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">LO 39 34</th>
                                    <td>6</td>
                                    <td>5</td>
                                    <td>34</td>
                                </tr>
                                <tr>
                                    <th scope="row">LO 39 62</th>
                                    <td>9</td>
                                    <td>5</td>
                                    <td>62</td>
                                </tr>
                                <tr>
                                    <th scope="row">LO 39 67</th>
                                    <td>7</td>
                                    <td>5</td>
                                    <td>67</td>
                                </tr>
                                <tr>
                                    <th scope="row">LO 39 22</th>
                                    <td>8</td>
                                    <td>5</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <th scope="row">LO 39 14</th>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>14</td>
                                </tr>
                                <tr>
                                    <th scope="row">LO 39 51</th>
                                    <td>15</td>
                                    <td>5</td>
                                    <td>51</td>
                                </tr>
                                <tr>
                                    <th scope="row">LO 39 29</th>
                                    <td>12</td>
                                    <td>5</td>
                                    <td>29</td>
                                </tr>
                                <tr>
                                    <th scope="row">LO 39 BA</th>
                                    <td>11</td>
                                    <td>5</td>
                                    <td>Bambus</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th scope="row">LO 49 34</th>
                                    <td>12</td>
                                    <td>5</td>
                                    <td>34</td>
                                </tr>
                                <tr>
                                    <th scope="row">LO 49 62</th>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>62</td>
                                </tr>
                                <tr>
                                    <th scope="row">LO 49 67</th>
                                    <td>18</td>
                                    <td>5</td>
                                    <td>67</td>
                                </tr>
                                <tr>
                                    <th scope="row">LO 49 22</th>
                                    <td>7</td>
                                    <td>5</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <th scope="row">LO 49 14</th>
                                    <td>12</td>
                                    <td>5</td>
                                    <td>14</td>
                                </tr>
                                <tr>
                                    <th scope="row">LO 49 51</th>
                                    <td>16</td>
                                    <td>5</td>
                                    <td>51</td>
                                </tr>
                                <tr>
                                    <th scope="row">LO 49 29</th>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>29</td>
                                </tr>
                                <tr>
                                    <th scope="row">LO 49 BA</th>
                                    <td>8</td>
                                    <td>5</td>
                                    <td>Bambus</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo3">

                        <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo3" aria-expanded="false" aria-controls="flush-collapseTwo3">
                            <div class="d-flex justify-content-between w-100">
                                <p>
                                    Blume - 226Stk
                                </p>
                            </div>
                        </button>

                    </h2>
                    <div id="flush-collapseTwo3" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo3" data-bs-parent="#accordionFlushExample">
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Bezeichnung</th>
                                    <th scope="col">Anzahl</th>
                                    <th scope="col">Min. Anzahl</th>
                                    <th scope="col">Farbe</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">BL 39 34</th>
                                    <td>15</td>
                                    <td>5</td>
                                    <td>34</td>
                                </tr>
                                <tr>
                                    <th scope="row">BL 39 62</th>
                                    <td>20</td>
                                    <td>5</td>
                                    <td>62</td>
                                </tr>
                                <tr>
                                    <th scope="row">BL 39 67</th>
                                    <td>12</td>
                                    <td>5</td>
                                    <td>67</td>
                                </tr>
                                <tr>
                                    <th scope="row">BL 39 22</th>
                                    <td>7</td>
                                    <td>5</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <th scope="row">BL 39 14</th>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>14</td>
                                </tr>
                                <tr>
                                    <th scope="row">BL 39 51</th>
                                    <td>23</td>
                                    <td>5</td>
                                    <td>51</td>
                                </tr>
                                <tr>
                                    <th scope="row">BL 39 29</th>
                                    <td>25</td>
                                    <td>5</td>
                                    <td>29</td>
                                </tr>
                                <tr>
                                    <th scope="row">BL 39 BA</th>
                                    <td>22</td>
                                    <td>5</td>
                                    <td>Bambus</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th scope="row">BL 49 34</th>
                                    <td>15</td>
                                    <td>5</td>
                                    <td>34</td>
                                </tr>
                                <tr>
                                    <th scope="row">BL 49 62</th>
                                    <td>20</td>
                                    <td>5</td>
                                    <td>62</td>
                                </tr>
                                <tr>
                                    <th scope="row">BA 49 67</th>
                                    <td>11</td>
                                    <td>5</td>
                                    <td>67</td>
                                </tr>
                                <tr>
                                    <th scope="row">BL 49 22</th>
                                    <td>7</td>
                                    <td>5</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <th scope="row">BL 49 14</th>
                                    <td>12</td>
                                    <td>5</td>
                                    <td>14</td>
                                </tr>
                                <tr>
                                    <th scope="row">BL 49 51</th>
                                    <td>9</td>
                                    <td>5</td>
                                    <td>51</td>
                                </tr>
                                <tr>
                                    <th scope="row">BL 49 29</th>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>29</td>
                                </tr>
                                <tr>
                                    <th scope="row">BL 49 BA</th>
                                    <td>8</td>
                                    <td>5</td>
                                    <td>Bambus</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-25">
            <h2 class="text-center">Offene Bestellungen</h2>
            <div class="d-flex justify-content-between">
                <a type="button" class="btn btn-dark" asp-action="OpenOrders">Offen</a>
                <a type="button" class="btn btn-dark" asp-action="CanceledOrders">Storniert</a>
                <a type="button" class="btn btn-dark" asp-action="ReadyOrders">Erledigt</a>
            </div>
            <hr>
            <ul class="list-group">
                @{
                    if (ViewData["orderStatus"] == "open")
                    {
                        ViewData["pdfStatus"] = "open";
                    }

                    if (ViewData["orderStatus"] == "canceled")
                    {
                        ViewData["pdfStatus"] = "canceled";
                    }

                    if (ViewData["orderStatus"] == "ready")
                    {
                        ViewData["pdfStatus"] = "ready";
                    }

                    if (ViewData["orderStatus"] == string.Empty)
                    {
                        <p>Ein Fehler ist aufgetreten</p>
                    }
                    @await Html.PartialAsync("_CancledOrders", Model.Orders);
                }
            </ul>
        </div>
    </div>
}
