@model Multiflex.Frontend.WebApp.Models.LieferantDto

@{
    ViewData["Title"] = "Add";
}


<p class="text-center">Füge einen neuen Lieferanten Hinzu</p>

<div class="d-flex justify-content-center w-100">


    <div class="w-75">
        <form asp-action="Add">
            <center>
                <div class="mb-5">
                    <label asp-for="name" class="form-label">LieferantenName</label>
                    <input asp-for="name" type="text" class="form-control w-50 d-flex justify-content-center" id="lieferatenNameInput" placeholder="LieferantenName" required>
                </div>

                <div class="mt-5 mb-3">
                    <label asp-for="weblink" class="form-label">WebLink</label>
                    <input asp-for="weblink" type="text" class="form-control w-50 d-flex justify-content-center" id="webLinqImput" placeholder="WebLink" required>
                </div>
                <div class="mt-5 mb-3">
                    <label asp-for="lieferzeit" class="form-label">Lieferzeit</label>
                    <input asp-for="lieferzeit" type="text" class="form-control w-50 d-flex justify-content-center" id="lieferzeitImput" placeholder="Lieferzeit" required>
                </div>

                <button id="add-lieferanten" type="submit" class="btn btn-primary">Erstellen</button>
            </center>
        </form>
    </div>

</div>
