@{
    ViewData["Title"] = "Lieferanten";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //Controller = "LieferantenController";

    var test = new List<string>();
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <div class="container w-75">
      <div class="row">

        <div class="col">
          Lieferant
        </div>

        <div class="col">
          Ware
        </div>

        <div class="col">
          Webseite
        </div>

        <div class="col">
          ändern
        </div>

      </div>

      <div class="row" id="createRow"> </div>

    </div>

</div>

