@{
    ViewData["Title"] = "Lieferanten";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //Controller = "LieferantenController";

    var test = new List<string>();
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    
</div>

